body {
    background-color: #050602 img-fluid;
    max-height: 1024px;
}

#index {
    background-image: url(../assets/img/haunted\ house.jpg);
}

.mysteriousletter {
    background-image: url(../assets/img/littlelongparchment.jpg);
    width: 320px;
    height: 420px;
    font-family: 'Quintessential', cursive;
}

.audiocontrols {
    opacity: 0.1;
    width: 100px;
    
}

.doorbutton {
    top: 675px;
    left: 355px;
    width: 80px;
    height: 205px;
}

.doorbutton:hover {
    background-color: #050602;
    opacity: 0.7;
}

#homepage {
    background-image: url(../assets/img/main\ floor.jpg); 
    height: 100%;
}

#homepagecarousel {
    
    max-width: 50%;
    margin-top: 2%;
    position: fixed;
}


.text-warning {
    font-family: 'Quintessential', cursive;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#cemetery {
    background-image: url(../assets/img/graveyard.jpg);
    background-repeat: no-repeat;
    max-height: 1024px;
}

.tombstone {
    margin-top: 13%;
    margin-left: 30%;
}

.tombform {
    text-align: center;
    max-width: 40%;
    
}

.eulogy {
    text-align: center;
    max-width: 40%;
}

.comment {
    text-align: center;
}

.cemeterybtn {
    margin-left: 17%;
}

.text-white {
    font-family: 'Creepster', cursive;
    font-size: x-large;
    text-shadow:
    -2x -2px 0 rgb(0, 0, 0),
    2px -2px 0 rgb(0, 0, 0),
    -2px 2px 0 rgb(0, 0, 0),
    2px 2px 0 rgb(0, 0, 0);
}

.admit {
    margin-bottom: 30px;
    margin-left: 30px;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

.cemeteryfooter {
    background-color: rgba(0, 0, 0, 0.712);
}