body {
    background-color: #050602;
    max-height: 1024px;
}


.mysteriousletter {
    background-image: url(../assets/img/littlelongparchment.jpg);
    font-family: 'Quintessential', cursive;
}

.audiocontrols {
    opacity: 0.1;
    width: 100px;
    
}

.doorbutton {
    top: 675px;
    left: 355px;
    width: 80px;
    height: 205px;
}

.doorbutton:hover {
    background-color: #050602;
    opacity: 0.7;
}