body {
    background-color: #050602;
}

.bgimg {
    height: 100vh;
}

.mysteriousletter {
    background-image: url(../assets/img/parchment.jpg);
    font-family: 'Syne Tactile', cursive;
}

.doorbutton {
    bottom: -275px;
    left: 355px;
    width: 80px;
    height: 205px;
}

.doorbutton:hover {
    background-color: #050602;
    opacity: 0.7;
}